.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin-bottom: 20px;

    .addCourse {
      height: 44px;
      width: 180px;
    }
  }

  .courseGrid {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: rgb(230, 230, 230);
  }
}
