.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;

  .infoContainer {
    display: flex;
    gap: 8px;
  }

  button {
    background-color: whitesmoke;
    border: 1px solid black;
    color: grey;

    &:hover {
      background-color: purple;
    }
  }
}