.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: grey;
  color: white;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  cursor: pointer;

  button {
    background-color: whitesmoke;
    border: 1px solid black;
    color: grey;

    &:hover {
      background-color: purple;
    }
  }
}