.container {
 display: flex;
 justify-content: center;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    row-gap: 10px;
    border-radius: 20px;
    border: 4px solid purple;
    padding: 30px;

    button {
      font-size: 14px;
      font-weight: 600;
    }
  }
}