.container {
  display: flex;
  gap: 16px;
  border-radius: 4px;
  margin: 4px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.472);

  button {
    display: block;
    margin-left: auto;
    height: auto;
    width: 30px;
    background-color: rgba(204, 0, 0, 0.787);
  }
}